@charset 'utf-8';
@import "./ui/reset.scss";

html,
body,
main {
  font-family: var(--font-jetbrains-mono);
  font-weight: 300;
  line-height: 1.5;

  font-size: 14px;

  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }
}

:root {
  --primary: #07bdbd;
  --primary-dark: #05747b;
  --secondary: #9e19ef;
  --secondary-dark: #6a0ca4;
  --text-color: #878787;
  --background: #fff;
}
