@charset 'utf-8';
@import "./ui/reset.scss";

@import "./ui/utilities.scss";

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 2rem;

  font-family: var(--font-jetbrains-mono);
  color: var(--text-color);

  @media screen and (max-width: 480px) {
    overflow-y: hidden;
  }
}

// * {
// outline: 1px solid orange;
// }

html,
body {
  font-weight: 300;

  font-size: 14px;
  line-height: 1.5;

  @media only screen and (min-width: 768px) {
    line-height: 1.714;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.875;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.556;
  }
  @media only screen and (min-width: 1920px) {
    font-size: 20px;
    line-height: 1.7;
  }
}

h1 {
  font-family: var(--font-shrikhand);
  color: var(--secondary);

  font-size: 2rem;
  margin: 2rem 0;
  @media only screen and (min-width: 1280px) {
    font-size: 2.5rem;
    margin: 2.5rem 0;
  }
}

h2 {
  font-family: var(--font-shrikhand);
  color: var(--primary);
  font-size: 1.5rem;
  margin: 2rem 0;
}

h3 {
  font-family: var(--font-jetbrains-mono);
  color: var(--text-color);

  font-size: 1rem;
  line-height: 1.85rem;
  margin: 1rem 0;
  @media only screen and (min-width: 768px) {
    font-size: 1.143rem;
    line-height: 1.5rem;
    margin: 1.43rem 0;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 1.125rem;
    line-height: 1.833rem;
    margin: 1.125rem 0;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin: 1.4rem 0;
  }
  @media only screen and (min-width: 1920px) {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 1.4rem 0;
  }
}

a {
  font-family: var(--font-jetbrains-mono);
  text-decoration: underline;
  color: var(--secondary);
  font-size: 1rem;

  &:hover {
    color: var(--primary);
  }
}

ul {
  list-style: inherit;
  list-style-position: outside;
  padding-left: 2rem;
}

p,
ul {
  margin: 1rem 0;

  &:last-child {
    margin-bottom: 0;
  }
}

// Margin collapse is nice, but we prefer to have the
// same default spacing in all display types. So we explicitly
// remove the duplications and not rely on margin collapse.
/* prettier-ignore */
h1 + h2, h1 + h3, h2 + h3, 
h1 + p, h2 + p, h3 + p, p + p, ul + p
h1 + ul, h2 + ul, h3 + ul, ul + ul, p + ul {
  margin-top: 0;
}

.reset {
  list-style: none;
  padding: unset;
  margin: unset;
}

.x-fill {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

.x-container {
  width: 90vw;

  @media only screen and (min-width: 768px) {
    width: 80vw;
  }
}
