@charset 'utf-8';
@import "./ui/reset.scss";

@import "./ui/utilities.scss";

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 2rem;

  font-family: var(--font-jetbrains-mono);
  color: var(--text-color);

  @media screen and (max-width: 480px) {
    overflow-y: hidden;
  }

  .main {
    width: var(--container-width-mobile);

    @media only screen and (min-width: 768px) {
      width: var(--container-width);
    }
  }
}

html,
body {
  font-weight: 300;

  font-size: 14px;
  line-height: 1.5;

  @media only screen and (min-width: 768px) {
    line-height: 1.714;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 16px;
    line-height: 1.875;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.556;
  }
  @media only screen and (min-width: 1920px) {
    font-size: 20px;
    line-height: 1.7;
  }
}

h1 {
  font-family: var(--font-shrikhand);
  color: var(--secondary);
  font-size: 2rem;
  @media only screen and (min-width: 1280px) {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: var(--font-shrikhand);
  color: var(--primary);
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

h3 {
  font-family: var(--font-jetbrains-mono);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.85rem;
  @media only screen and (min-width: 768px) {
    font-size: 1.143rem;
    line-height: 1.5rem;
  }
  @media only screen and (min-width: 1024px) {
    font-size: 1.125rem;
    line-height: 1.833rem;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  @media only screen and (min-width: 1920px) {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

h4 {
  font-family: var(--font-jetbrains-mono);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5rem;
  @media only screen and (min-width: 1024px) {
    line-height: 1.5rem;
    line-height: 1.875rem;
  }
  @media only screen and (min-width: 1280px) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  @media only screen and (min-width: 1920px) {
    font-size: 1rem;
    line-height: 2rem;
  }
}

a {
  font-family: var(--font-jetbrains-mono);
  text-decoration: underline;
  color: var(--secondary-dark);
  font-size: 1rem;
}

p {
  margin: 1rem 0;
}
