.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;

  @media screen and (max-width: 480px) {
    grid-template-columns: 60vw;
  }

  li {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .name {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 0.2rem 0.5rem;
      background-color: var(--secondary);
      color: var(--background);
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
