.jsconf-earlier {
  .all-earlier-events {
    h3 {
      color: var(--primary);
      font-family: var(--font-shrikhand);
      font-size: 1.5rem;
    }
    a {
      display: block;
      &:last-child {
        margin-top: 10px;
      }
    }
  }
  @media screen and (min-width: 800px) {
    h1 {
      text-align: center;
    }
    .all-earlier-events {
      display: flex;
      gap: 40px;
    }
  }

}
.team {
  display: grid;
  row-gap: 20px;
  li {
    display: grid;
    img {
      width: 120px;
      aspect-ratio: 1;
      justify-self: center;
    }
    h2 {
      color: var(--primary);
      text-align: center;
    }
  }

  @media screen and (min-width: 800px) {
    li {
      display: grid;
      grid-template-areas: "image info";
      grid-template-columns: auto 1fr;
      gap: 20px;
      &:nth-child(even) {
        grid-template-areas: "info image";
        grid-template-columns: 1fr auto;
      }
      .member-info {
        grid-area: info;
        h2 {
          text-align: initial;
        }
      }
      img {
        grid-area: image;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    li img {
      width: 140px;
    }
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    li {
      &:nth-child(even) {
        grid-template-areas: "image info";
        grid-template-columns: auto 1fr;
      }
      img {
        width: 150px;
      }
    }
  }

  @media screen and (min-width: 1920px) {
    li {
      img {
        width: 250px;
      }
      &:nth-child(even) {
        grid-template-areas: "info image";
        grid-template-columns: 1fr auto;
      }
    }
  }

  li {
    position: relative;
  }
}
