.cfp {
  section {
    padding: 40px 100px;
    p:last-child {
      margin-bottom: 0;
    }
    strong {
      display: block;
      font-weight: 700;
      &.deadline {
        margin-bottom: calc(1.5 * var(--base-font-size));
      }
    }
    ul {
      list-style-type: inherit;
      padding-left: var(--list-item-indentation);
    }
    &:nth-child(even) {
      background-color: var(--section-background);
    }
    * {
      max-width: 53.333rem;
    }
    &.perks {
      strong + p {
        display: list-item;
        list-style-type: disc;
        margin-left: var(--list-item-indentation);
      }
    }
    .process {
      margin-top: calc(1.5 * var(--base-font-size));
      margin-bottom: 0;
    }
  }
}
