.attendee_charts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h3 {
    color: var(--background);
    font-size: 1.5rem;
    white-space: nowrap;
    font-size: 1.75rem;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      font-size: 1.15rem;
    }

    @media only screen and (min-width: 1024px) {
      font-size: 1.5rem;
    }

    @media only screen and (min-width: 1280px) {
    }
  }

  .chart {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 2rem;

    @media only screen and (min-width: 768px) {
      width: auto;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;

      @media only screen and (min-width: 768px) {
        width: auto;
      }
    }
  }

  .position {
    @media only screen and (max-width: 768px) {
      h3 {
        margin-left: 4.1rem;
      }

      div {
        margin-left: -4.1rem;
      }
    }
  }

  .knowledge {
    @media only screen and (max-width: 768px) {
      h3 {
        margin-left: 2.75rem;
      }

      div {
        margin-left: -2.75rem;
      }
    }
  }
}

.packages_mobile {
  box-sizing: border-box;

  @media only screen and (min-width: 768px) {
    display: none;
  }

  text-align: left;

  div {
    border-top: var(--table-border);
    border-bottom: var(--table-border);
  }

  p {
    text-align: center;
    font-family: var(--font-shrikhand);
    font-size: 1.4rem;
    color: var(--secondary);
    margin: 2rem 0;
  }

  a {
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;

    font-family: var(--font-shrikhand);
    font-size: 1.2rem;

    color: var(--background);
    background: var(--secondary);

    padding: 0.75rem 1.5rem;
    border-radius: 200px;

    &:hover {
      background-color: var(--primary);
    }
  }

  li {
    margin: 1rem 0;
  }
}

.packages_table {
  @media only screen and (max-width: 768px) {
    display: none;
  }

  width: 95vw;

  @media only screen and (min-width: 1024px) {
    width: 80vw;
  }
  @media only screen and (min-width: 1280px) {
    width: 70vw;
  }

  border-collapse: collapse;

  .spacer {
    width: 2.5rem;
  }

  .workshops_header {
    position: relative;

    a {
      width: 11rem;

      text-decoration: none;
      text-wrap: nowrap;
      text-align: center;

      font-family: var(--font-shrikhand);
      font-size: 1.2rem;

      color: var(--background);
      background: var(--secondary);

      padding: 0.2rem 0;
      border-radius: 200px;

      position: absolute;
      left: -0.5rem;

      &:hover {
        background-color: var(--primary);
      }
    }
  }

  td {
    border-top: var(--table-border);
    border-bottom: var(--table-border);
    padding: 1rem 0;
    vertical-align: middle;
  }

  th {
    p {
      margin: 1rem 0;
    }

    // package price
    p:nth-child(2) {
      font-family: var(--font-shrikhand);
      font-size: 1.4rem;
      color: var(--secondary);
    }
  }

  // description column
  td:first-child {
    text-align: right;
    padding-right: 1rem;
    width: 25rem;
  }

  // data column
  td:nth-of-type(2n) {
    min-width: 10rem;
  }

  // Silver grey background
  tr:nth-of-type(1),
  tr:nth-of-type(2),
  tr:nth-of-type(3) {
    th:nth-of-type(2),
    td:nth-of-type(2) {
      background: var(--table-light-bg);
    }
  }

  // Gold grey background
  thead tr th:nth-of-type(4) {
    background: var(--table-bg);
  }

  tr:not(:last-child):not(:nth-last-child(2)) {
    td:nth-of-type(4) {
      background: var(--table-bg);
    }
  }

  // Workshops grey background
  thead tr th:nth-of-type(6) {
    background: var(--table-dark-bg);
  }
  tr:not(:last-child) {
    th:nth-of-type(6),
    td:nth-of-type(6) {
      background: var(--table-dark-bg);
    }
  }

  // Platinum grey background
  th:nth-of-type(8),
  td:nth-of-type(8) {
    background: var(--table-darkest-bg);
  }
}

.perks_table {
  display: flex;
  justify-content: center;

  @media only screen and (max-width: 768px) {
    display: none;
  }

  table {
    width: 40rem;
    border-collapse: collapse;
    text-wrap: nowrap;
  }

  tr {
    height: 2rem;
    border: var(--table-border);
    border-left: none;

    td {
      padding: 1.5rem;
    }

    td:first-child {
      width: 20rem;
      text-align: right;
    }

    td:last-child {
      text-align: center;
      background-color: #eaeaea;
      padding: 0 5rem;
    }
  }
}

.lets_talk {
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  row-gap: 2rem;

  position: relative;

  .left_polygon {
    display: none;
    position: absolute;
    top: 2rem;
    left: -16.75vw;
    width: 16vw;
    height: auto;
  }

  .right_polygon {
    display: none;
    position: absolute;
    top: -2rem;
    right: -12.3vw;
    width: 16vw;
    height: auto;
  }

  img {
    width: 40vw;
    height: 40vw;
  }

  a:hover {
    p {
      color: var(--primary);
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;

    .left_polygon,
    .right_polygon {
      display: block;
    }

    img {
      width: 19vw;
      height: 19vw;
    }
  }
}
