.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .button {
    padding: 0.5rem 2rem;
    background-color: var(--secondary);
    border-radius: 60px;
    color: var(--background);
    font-size: 1.1rem;
    font-family: var(--font-shrikhand);
    text-decoration: none;
    cursor: pointer;
  }
  &.disabled .button {
    background-color: var(--light-section);
    color: var(--light-text);
  }

  .button:hover {
    background-color: var(--primary);
  }

  &.disabled .button:hover {
    background-color: var(--light-section);
  }

  @media only screen and (min-width: 1024px) {
    .button {
      padding: 0.5rem 2.5rem;
      font-size: 1.5rem;
    }
  }
}
