.main {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-dark);
    border-radius: 60px;
    border: 0;
    color: var(--background);

    font-size: 30px;
    font-family: var(--font-shrikhand);
    text-decoration: none;
    cursor: pointer;

    padding: 10px 30px;

    @media only screen and (min-width: 768px) {
    }
  }
}
