.main {
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12em;
    height: 2em;
    margin: 1rem;

    background-color: var(--secondary-dark);
    border-radius: 60px;
    color: var(--background);

    font-size: 1.7rem;
    font-family: var(--font-shrikhand);
    text-decoration: none;
  }
}
