.asym {
  * {
    margin-top: -0.9em;
    background-color: var(--background);
    padding: 0 1rem;
  }
}

.sym {
  position: absolute;
  max-width: 80vw;

  * {
    background-color: var(--background);
    margin: 0;
    padding: 0 1rem;
  }
}
