.level_1,
.level_2,
.level_3,
.level_4,
.community_partners {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.community_partners {
  flex-direction: column;
  gap: 1.5rem;

  a {
    width: 80vw;
    height: 20vw;
    position: relative;

    img {
      object-fit: contain;
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;

    a {
      width: 9vw;
      height: 9vw;
    }
  }
}

.level_1 {
  gap: 2rem;

  svg {
    width: 50vw;
  }

  @media only screen and (min-width: 768px) {
    width: 100vw;
    gap: 2.5rem;

    svg {
      width: 15vw;
    }
  }
}

.level_2 {
  width: 75vw;
  column-gap: 3.5rem;
  row-gap: 1.5rem;

  svg {
    width: 25vw;
  }

  @media only screen and (min-width: 768px) {
    width: 100vw;
    gap: 2rem;

    svg {
      width: 11.5vw;
    }
  }
}

.level_3 {
  gap: 1.5rem;
  width: 50vw;

  svg {
    width: 18vw;
  }

  @media only screen and (min-width: 768px) {
    width: 100vw;

    svg {
      width: 10.9vw;
    }
  }
}

.level_4 {
  gap: 1.5rem;

  svg {
    width: 15.7vw;
  }

  @media only screen and (min-width: 768px) {
    width: 100vw;

    svg {
      width: 8.9vw;
    }
  }
}
