.level_1,
.level_2,
.level_3,
.level_4,
.community_partners,
.media_partners {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.community_partners,
.media_partners {
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;

  a {
    width: 50vw;
    height: 20vw;
    position: relative;

    img {
      object-fit: contain;
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0rem;
    a {
      width: 9vw;
      height: 9vw;
    }
  }
}

.level_1 {
  gap: 4rem;
  margin-bottom: 3rem;

  a {
    width: 60vw;
    height: 20vw;
    position: relative;

    img {
      object-fit: contain;
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;

    a {
      width: 17vw;
      height: 10vw;
    }
  }
}

.level_2 {
  gap: 1.5rem;

  a {
    width: 80vw;
    height: 20vw;
    position: relative;

    img {
      object-fit: contain;
    }
  }

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0rem;
    a {
      width: 22vw;
      height: 10vw;
    }
  }
}

.level_3 {
  gap: 1.5rem;
  width: 50vw;

  svg {
    width: 18vw;
  }

  @media only screen and (min-width: 768px) {
    width: 100vw;

    svg {
      width: 10.9vw;
    }
  }
}

.level_4 {
  gap: 1.5rem;

  svg {
    width: 15.7vw;
  }

  @media only screen and (min-width: 768px) {
    width: 100vw;

    svg {
      width: 8.9vw;
    }
  }
}
