.image {
  width: 230px;
  height: 230px;
  position: relative;

  img {
    z-index: 10;
  }
}

.background-left,
.background-right {
  position: relative;
  z-index: 1;
}

.background-right {
  transform: translate(-1px, -1px);
  height: 104%;
}
.background-left {
  transform: translate(-10px, 1px);
  height: 104%;
}

@media only screen and (max-width: 1280px) {
  .image {
    width: 144px;
    height: 144px;
  }
  .background-right {
    transform: translate(-1px, -1px);
  }
  .background-left {
    transform: translate(-6px, 1px);
  }
}

@media only screen and (max-width: 800px) {
  .image {
    width: 115px;
    height: 115px;
  }
}

.decoration-left,
.decoration-right {
  position: absolute;
  height: 310px;
  width: 160px;
  bottom: 0;
}
.decoration-left {
  transform: scaleX(-1) translate(-166px, 10px);
}
.decoration-right {
  transform: translate(-94px, 8px);
}


@media only screen and (max-width: 1280px) {
  .decoration-left,
  .decoration-right {
    height: 192px;
    width: 96px;
  }

  .decoration-left {
    transform: scaleX(-1) translate(-110px, 7px);
  }

  .decoration-right {
    transform: translate(-62px, 5px);
  }
}

@media only screen and (max-width: 800px) {
  .decoration-left,
  .decoration-right {
    height: 152px;
    width: 75px;
  }
  .decoration-left {
    transform: scaleX(-1) translate(-92px, 2px);
  }
  .decoration-right {
    transform: translate(-54px, 0px);
  }
}


@media only screen and (max-width: 374px) {
  .decoration-left,
  .decoration-right {
    height: 162px;
    width: 162px;
  }
  .decoration-right {
    transform: translate(-30px, 5px);
  }
  .decoration-left {
    transform: scaleX(-1) translate(20px, 8px);
  }
}
