.wide_image {
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);

  margin: 2rem 0;

  width: 100vw;
  height: calc(100vw / 3.5);

  @media (max-width: 480px) {
    height: calc(100vw / 1.2);
  }

  @media (min-width: 768px) {
    height: calc(100vw / 2.5);
  }

  img {
    object-fit: cover;
  }
}
