// --scroll-ratio is
// - 1 when the page is not scolled and
// - 0 when the page is scolled beyond the header
//

// valueByHeaderScroll
// will set $property_name to
// - $min when scoll ratio is 0
// - $max when scoll ratio is 1
@mixin valueByHeaderScroll($property_name, $min, $max) {
  #{$property_name}: calc(
    #{$min} + calc(calc(#{$max} - #{$min}) * var(--scroll-ratio))
  );
}

// valueByInverseHeaderScroll
// will set $property_name to
// - $min when scoll ratio is 1
// - $max when scoll ratio is 0
@mixin valueByInverseHeaderScroll($property_name, $min, $max) {
  #{$property_name}: calc(
    #{$max} - calc(calc(#{$max} - #{$min}) * var(--scroll-ratio))
  );
}

@mixin decorated() {
  :global {
    h1,
    h2,
    h3,
    h4,
    h5 {
      position: relative;
    }

    .decorated {
      &-left::before,
      &-right::before {
        position: absolute;
        content: "";
        width: 26rem;
        height: 50vw;
        bottom: 3rem;
      }

      &-purple::before {
        background: $color-purple;
      }
      &-orange::before {
        background: $color-orange;
      }
      &-lightpurple::before {
        background: $color-lightpurple;
      }
      &-lightorange::before {
        background: $color-lightorange;
      }

      &-right::before {
        // --offset: calc( calc(calc(100vw - 21rem) / -2));
        --offset: calc(0);

        @media (min-width: 1680px) and (max-width: 2560px) {
          --offset: calc(35vw);
        }

        @media (min-width: 1160px) and (max-width: 1680px) {
          --offset: calc(37vw);
          height: 43vw;
        }

        @media (min-width: 960px) and (max-width: 1160px) {
          --offset: calc(40vw);
          height: 43vw;
        }

        @media (max-width: 960px) {
          display: none;
        }

        transform: rotate(-13deg) translateY(109%) translateX(var(--offset));
        right: 0;
      }

      &-left::before {
        // --offset: calc( calc(calc(100vw - 21rem) / -2));

        --offset: calc(-46vw);

        @media (min-width: 1080px) and (max-width: 1220px) {
          --offset: calc(-53vw);
        }

        @media (min-width: 960px) and (max-width: 1080px) {
          --offset: calc(-56vw);
        }

        @media (max-width: 960px) {
          display: none;
        }

        transform: rotate(-13deg) translateY(-10%) translateX(var(--offset));
        left: 0;
      }
    }
  }
}
